@font-face {
    font-family: "Cuprum";
    src: url("../fonts/Cuprum.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Oranienbaum";
    src: url("../fonts/Oranienbaum.woff") format("woff");
    font-weight: normal;
}